.DS_Store
material/
node_modules/
lib/*.js
benchmarks/out/*.dat
benchmarks/out/*.out
tests/*.js
_site
vendor
public/uploaded/files/*
public/unziped/files/*
lib/epubcheck3/*
src-inst
coverage.html
*.log
