!!! 5
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/trontastic/jquery-ui-1.8.16.custom.css')
  body!= body
    footer
      Copyright &copy; 2011 - 2012 &nbsp;
      a(href="https://github.com/katoy") katoy
