.shiny-button {
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #fff;
  font-size: px;
  background-color: #808080;
  background-image: linear-gradient(top, #838383 0%, #949494 48%, #808080 49%, #808080 82%, #8e8e8e 100%);
  border-color: #808080;
  -webkit-box-shadow: inset 0 0 1px 1px #999, 0 0 1px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 1px 1px #999, 0 0 1px 3px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 1px 1px #999, 0 0 1px 3px rgba(0,0,0,0.15);
  -webkit-text-shadow: 1px 1px 1px #4d4d4d;
  -moz-text-shadow: 1px 1px 1px #4d4d4d;
  -o-text-shadow: 1px 1px 1px #4d4d4d;
  text-shadow: 1px 1px 1px #4d4d4d;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 4.8px 12px 4.8px 12px;
  margin: 4px 4px 4px 4px;
}
.shiny-button strong {
  letter-spacing: 1px;
  font-size: px;
}
.shiny-button:hover {
  color: #fff;
  background-color: #888;
  background-image: linear-gradient(top, #8b8b8b 0%, #9c9c9c 48%, #888 49%, #888 82%, #969696 100%);
  border-color: #878787;
  -webkit-box-shadow: inset 0 0 1px 1px #a1a1a1, 0 0 1px 3px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 0 1px 1px #a1a1a1, 0 0 1px 3px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 1px 1px #a1a1a1, 0 0 1px 3px rgba(0,0,0,0.15);
  -webkit-text-shadow: 1px 1px 1px #555;
  -moz-text-shadow: 1px 1px 1px #555;
  -o-text-shadow: 1px 1px 1px #555;
  text-shadow: 1px 1px 1px #555;
}
.shiny-button:active {
  color: #fff;
  background-color: #787878;
  background-image: linear-gradient(top, #737373 0%, #808080 100%);
  padding: 5.800000000000001px 12px 3.8000000000000007px 12px;
}
