body {
  padding: 10px;
  background: url("../images/main_bg.jpg") repeat scroll 0 0 transparent;
  font: 14px 14px/18px "�ҥ饮�γѥ� Pro W3", "�ᥤ�ꥪ", Meiryo, "�ͣ� �Х����å�", "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Verdana, sans-serif;
}
footer {
  margin: 1em auto;
  padding: 0;
  text-align: center;
}
img {
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  margin: 3px;
}
