body {
  padding-top: 60px;
  padding-bottom: 10px;
  background: url("../images/main_bg.jpg") repeat scroll 0 0 transparent;
  font: 14px 14px/18px "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", Helvetica, Arial, Verdana, sans-serif;
}
.sidebar-nav {
  padding: 9px 0;
}
footer {
  margin: 1em auto;
  padding: 0;
  text-align: center;
}
img {
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  margin: 3px;
}
.btn {
  margin: 5px;
  white-space: nowrap;
}
.centered {
  text-align: center;
}
.table th.centered,
.table td.centered {
  text-align: center;
}
.middled {
  vertical-align: middle;
}
#epub-name,
#epub-form {
  vertical-align: middle;
}
#epub-search {
  margin: 0;
}
#epub-search-input {
  width: 120px;
}
.sort {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
aside {
  border: 1px solid #ccc;
  float: right;
}
.right_panel {
  margin-left: 16px;
}
.vspliter {
  margin-left: 2px;
}
#index_list {
  margin-right: 4px;
}
#myframe {
  margin: 0 8px 0 8px;
}
