@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

section.cover-page{
	width: 100%
}

div.page_box {
	display: table;
	width: 100%;
	height: 100%;
}
div.page_container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.no-optical {
	display: none;
}

img.portrait {
	display: inline;
    height: 100%;
}

